body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.artigos-row {
    height: 150px;
}

.artigos-row-item {
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    border-top: 1px;
    border-bottom: 1px;
    width: 15vw;
    min-width: 150px;
}