<div class="d-flex column d-pad">

    <!-- Título -->
    <h2 class="d-flex align-center d-m mat-elevation-z2 accent-hover align-self-start">
        <b class="d-m-right">Cadastro de categoria</b>
        <mat-icon class="icon-offset-top">book</mat-icon>
    </h2>

    <!-- Card edição -->
    <app-card-categoria-edicao class="full-width" [form]="form"></app-card-categoria-edicao>

    <!-- Card pesquisa -->
    <app-card-categoria-pesquisa class="full-width"></app-card-categoria-pesquisa>

</div>
