@import '~@angular/material/theming';

@include mat-core();

// TEMA
$primary: mat-palette($mat-pink, 600);
$accent:  mat-palette($mat-pink, 400);
$warn:    mat-palette($mat-red, 700);
$theme: mat-light-theme($primary, $accent, $warn);

// TEMA "SUAVE"
$soft-primary: mat-palette($mat-pink, 100);
$soft-accent:  mat-palette($mat-pink, 300);
$soft-theme: mat-light-theme($soft-primary, $soft-accent);

// TEMA DE SUCESSO
$sucess:  mat-palette($mat-green, 400);
$sucess-accent:  mat-palette($mat-green, 700);
$sucess-theme: mat-light-theme($sucess, sucess-accent);

@include angular-material-theme($theme);