html, body { height: 100%; }

body { 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.flex { flex: 1; }
.grow { flex-grow: 1; }
.grow-2 { flex-grow: 2; }

.d-flex, .row, .row-between, .row-evenly, .column { display: flex; }

.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-center { justify-content: center; }

.align-center { align-items: center; }
.align-self-start { align-self: start; }
.align-self-end { align-self: end; }

.column { flex-direction: column; }

.d-m { margin: 8px !important; }
.d-m-right { margin-right: 8px !important; }
.d-m-left { margin-left: 8px !important; }
.d-pad { padding: 8px !important; }
.d-pad-right { padding-right: 8px !important; }
.d-pad-top { padding-top: 8px !important; }
.d-pad-horizontal { padding: 8px 0px !important; }

.button-outline { border: 1px solid #fff !important; }
.button-outline:hover { background-color: #0000001c; }

.mouse-pointer { cursor: pointer; }

.hover-div:hover { 
    background-color: #0000001c;
    transition: 200ms;
}

.border-r-hard { border-radius: 16px !important;}

.full-width { width: 100%; }

.overflow-x {
    overflow-x: scroll;
    scrollbar-width: thin;
}

.text-center { text-align: center; }
.text-end { text-align: end; }

.icon-offset-top { padding-top: 2px; }
